[submodule "frontend"]
	path = frontend
	url = git@github.com:shardsrocks/sharock-frontend.git
[submodule "api-server"]
	path = api-server
	url = git@github.com:shardsrocks/sharock-api-server.git
[submodule "resolve-worker"]
	path = resolve-worker
	url = git@github.com:shardsrocks/sharock-resolve-worker.git
